.blue{
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.block {
    height: 100px;
    width: 100px;
    line-height: 100px;
    float: left;
    margin: 10px;
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

button {
    height: 100px;
    width:100px;
    margin: 10px;
}

.block-counter{
    height: 100px;
    width:100px;
    margin: 10px;
}